@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&family=Roboto+Mono&family=Turret+Road:wght@800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Turret Road', cursive;
    text-decoration: none ;
  }

  main {  
    margin: 0 auto;
    width: 95vw;
    padding: 20px;
   }

   body{
   background: rgb(249, 227, 254);
   
   }
   h1 { 
    font-family: 'Turret Road', cursive;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


   .menu {
    z-index: 1000;
    background-position: center top;
    width: 100%;
    position: fixed;  
    background-color: #E30BE3;
    display: flex;
  }
  .menu a{
    font-size: 14px;
    padding: 9px;
    color: #000;
   
  }


  header img {
    width: 30%;
    
  }
  
  #game-destaque {
    width: 350px;
    border-radius: 2%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .7);
    
  }
  
  button {
    margin-top: 10px;
    background-color: #E30BE3;
    padding: .5rem 1rem .5rem 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}
#increase-font, #decrease-font{
  padding: 25px;
  width: 50px;
  font-size: 14px;

}
button:hover{
  background-color: #E30BE3;
  transform: scaleY(1.2);
}
#back-to-top {
  font-size: 12px;
  position: fixed;
  bottom: 80px;
  right: 2px;
  padding: 5px 10px;
  background: #E30BE3;
  transition: 0.3s;
}
#back-to-top:hover{
  background-color: #E30BE3;
  transform:scaleY(1.1)
}

#background img {
  width: 350px;
  border-radius: 2%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .7);
}
 #background {
  
 justify-content: center;
    border-radius: 1%;
    padding: 100px;
  }
  #em-alta {
    justify-content: center;
       border-radius: 1%;
       padding: 100px;
     }

  #catalog{
    
    display: grid;
    grid-template-columns: auto 0px;
    grid-template-rows: repeat(2, 170px);
   justify-content: center;
    row-gap: 10px;
    column-gap: 50px;
    padding: 20px;
  }
  #games {
    padding: 20px;
  }
  #games h2 {
    
    text-align: center;
  }
 #games article {
  width: 40%;
  }
  

  .cards {
    display: flex;
    justify-content: center;
    
  }
  .cards img{
    width: 120px;
    align-items: center;
    transition: 0.35s ease;
    border-radius: 20px;
}

.cards img:hover{
  transform: scale(0.9) translateY(-5px);
  cursor: pointer; 
}
    footer {
      width: 100%;
      font-size: 12px;
      align-items: center;
      justify-content: space-between;
      display: flex;
      background-color: #e30be3a6;
      padding: 20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.50);
    }

    #contact a{
    
      padding: 1px;
    }

  #rodape {
  transition: 0.35s ease;
    margin-top: 5px;
    width: 17px;
}
   #rodape:hover {
    transform: scale(0.9) translateY(-5px);
  cursor: pointer;
   }
  
   @media screen and (max-width: 768px) {
   main{
    padding: 0;
   }
   #increase-font, #decrease-font{
    padding: 13px;
    width: 25px;
    font-size: 12px;
  height: 2px;
  }
    header{
      width: 120px;
      height: 50px;
    }
    header img{
      width: 110px;
      margin-top: 5px;
    }
    .menu a{
      font-size: 10px;
      
      justify-content: none;
    }
    .menu{
      padding: none;
      display: flex;
    }
   #catalog{
    margin: auto;
   }
   #background{
    padding: none;
    display: grid;
   }
   
   #background h1{ 
      display: none;
    
     }
     #background p{
      text-align: justify ;
    }

    #em-alta{
    padding: none;
    display: grid;
   }
   
   #em-alta h1{ 
      display: none;
    
     }
    #em-alta p{
      text-align: justify ;
    }
    h2 {
      text-align: center;
    }
     
   }
  
   
  
   
   
   

   